<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-0px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>View Course</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Course">Search Course</label>
        </div>
        <label class="col-lg-2 control-label">Course</label>
        <div class="col-lg-12"><select class="form-control" (change)="on($event)">
          <option *ngFor="let courses of course"  >{{courses.name}}</option></select></div>
        <br><br><br>
        <label class="col-lg-2 control-label">Class</label>
        <div class="col-lg-12"><select class="form-control" (change)="on2($event)">
          <option *ngFor="let courses of course"  >{{courses.class}}</option></select></div>

        <br><br><br>

      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="show()">Search Course</button>
        </div>

      </div>



    </fieldset>
  </form>
</div>


<!--\\\\\\\\\\\\\\\bootstrap\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

<div *ngIf="toggle" class="alert alert-dismissible alert-danger" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>


<table class="table table-striped table-hover "   style="width: 800px; margin-left: 350px; margin-top: 75px;">



  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>Syllabus</th>
    <th>class</th>
    <th>TeacherName</th>
    <th>SectionName</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let Data of Datas" class="info">
    <td>{{Data.id}}</td>
    <td>{{Data.name}}</td>
    <td>{{Data.syllabus}}</td>
    <td>{{Data.class}}</td>
    <td><select class="form-control" >
      <option *ngFor="let teacher of Data.teachers">{{teacher.firstName}}</option></select></td>
    <td><select class="form-control" >
      <option *ngFor="let section of Data.sections">{{section.name}}</option></select></td>
  </tr>
  </tbody>
</table>
