<ul class="nav nav-pills nav-stacked" style="width:200px ;margin-top:-10px">
  <li ><a *ngIf="view" [routerLink]="['viewClass']">Veiw Class</a></li>
  <li ><a *ngIf="add"[routerLink]="['addClass']">Add Class</a></li>
  <li ><a *ngIf="edit"[routerLink]="['updClass']">Update Class</a></li>
  <li ><a *ngIf="delete"[routerLink]="['delClass']">Delete Class</a></li>
</ul>
<router-outlet></router-outlet>


<!--<style>-->
  <!--.parallax {-->
    <!--/* The image used */-->
    <!--background-image: url("../../../../assetsMul/war.jpg");-->

    <!--/* Set a specific height */-->
    <!--height: 500px;-->

    <!--/* Create the parallax scrolling effect */-->
    <!--background-attachment: fixed;-->
    <!--background-position: center;-->
    <!--background-repeat: no-repeat;-->
    <!--background-size: cover;-->
  <!--}-->
<!--</style>-->

<!--&lt;!&ndash; Container element &ndash;&gt;-->
<!--<div class="parallax"></div>-->

<!--<router-outlet></router-outlet>-->
