<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:20px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>Delete Fee</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Campus">Delete Fee</label>
        </div>
        <label class="col-lg-2 control-label">StudentId</label>
        <div class="col-lg-12"><select class="form-control" (change)="on($event)">
          <option *ngFor="let students of student"  >{{students.id}}</option></select></div>

        <br><br><br>

        <label class="col-lg-2 control-label">Type</label>
        <div class="col-lg-12"><input [(ngModel)]="type"  pattern="([a-z]||[A-Z]||\s)*"    name="os3"  #os3="ngModel"  required  type="text" class="form-control" placeholder="Type"></div>

        <br><br><br>
        <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os3.errors.pattern">
            fill Correctly !!
          </div>
        </div>
        <label class="col-lg-2 control-label">Detail</label>
        <div class="col-lg-5"><input [(ngModel)]="detail"  pattern="([a-z]||[A-Z]||\s)*"    name="os4"  #os4="ngModel"  required   type="text" class="form-control" placeholder="Detail" required></div>

        <br><br><br>
        <div *ngIf="os4.errors&&(os4.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os4.errors.pattern">
            fill Correctly !!
          </div>
        </div>

      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="delete()">Delete fee</button>
        </div>

      </div>
    </fieldset>
  </form>
</div>
<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center">
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
