<ul class="nav nav-pills nav-stacked" style="width:200px ;margin-top:-10px">
  <li ><a *ngIf="veiw" [routerLink]="['ViewTeacher']">View Teacher</a></li>
  <li ><a *ngIf="add" [routerLink]="['addTeacher']">Add Teacher</a></li>
  <li ><a *ngIf="upd" [routerLink]="['updTeacher']">Update Teacher</a></li>
  <li ><a *ngIf="del" [routerLink]="['delTeacher']">Delete Teacher</a></li>
  <li ><a *ngIf="tcamp" [routerLink]="['teacherInCamp']">Teacher in Campus</a></li>
  <li ><a *ngIf="tcourse" [routerLink]="['teacherInCourse']">Teacher in Course</a></li>
</ul>
<router-outlet></router-outlet>
