<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>AddStudent</legend>


        <div class="form-group" >
        <label class="col-lg-2 control-label">First Name</label>
        <div class="col-lg-10"><input type="text" [(ngModel)]="data.firstName"  pattern="([a-z]||[A-Z]||\s)*"    name="os2"  #os2="ngModel"  required  class="form-control" placeholder="Enter First Name"></div>
          <br><br>
          <div *ngIf="os2.errors&&(os2.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os2.errors.pattern">
              fill Correctly !!
            </div>
          </div>
        <label class="col-lg-2 control-label">Last Name</label>
        <div class="col-lg-10"> <input type="text" [(ngModel)]="data.lastName"  pattern="([a-z]||[A-Z]||\s)*"    name="os3"  #os3="ngModel"  required  class="form-control"placeholder="Enter Last Name"></div>
          <br><br>
          <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os3.errors.pattern">
              fill Correctly !!
            </div>
          </div>
        <label class="col-lg-2 control-label">Age</label>
        <div class="col-lg-2"><input type="text" [(ngModel)]="data.age"  pattern="([0-9])*"    name="os4"  #os4="ngModel"  required type="text" class="form-control" placeholder="Age"></div>
          <br><br>
          <div *ngIf="os4.errors&&(os4.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os4.errors.pattern">
              fill Correctly !!
            </div>
          </div>
        <label class="col-lg-2 control-label">Contact</label>
        <div class="col-lg-10" ><input type="text" [(ngModel)]="data.contact"  pattern="([0-9])*"    name="os5"  #os5="ngModel"  required  class="form-control" placeholder="Contact"></div>
          <br><br>
          <div *ngIf="os5.errors&&(os5.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os5.errors.pattern">
              fill Correctly !!
            </div>
          </div>
        <label class="col-lg-2 control-label">SectionName</label>
        <div class="col-lg-10"><input type="text" [(ngModel)]="sectionName"  pattern="([a-z]||[A-Z]||\s)*"    name="os6"  #os6="ngModel"  required class="form-control" placeholder="Section"></div>
          <br><br>
          <div *ngIf="os6.errors&&(os6.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os6.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">Class</label>
      <div class="col-lg-10"><input type="text" [(ngModel)]="class"  pattern="([0-9])*"    name="os7"  #os7="ngModel"  required type="text" class="form-control" placeholder="Class"></div>
          <br><br>
          <div *ngIf="os7.errors&&(os7.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os7.errors.pattern">
              fill Correctly !!
            </div>
          </div>
        <label class="col-lg-2 control-label">Address</label>
        <div class="col-lg-10"><input type="text" [(ngModel)]="data.address"  pattern="([a-z]||[A-Z]||\s)*"    name="os8"  #os8="ngModel"  required  class="form-control" placeholder="Address"></div>
          <br><br><br>
          <div *ngIf="os8.errors&&(os8.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os8.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">Gender</label>
          <div class="col-lg-2">
            <select class="form-control"  (change)="on($event)">
              <option id="selectAccType">male</option>
              <option>female</option>
            </select>


          </div>
          <br><br>
        <label class="col-lg-2 control-label">E-Mail Address</label>
        <div class="col-lg-10"><input type="text" [(ngModel)]="data.email"   pattern="([a-z]||[A-Z]||[0-9])*@([a-z]||[A-Z]||[0-9])*.com"    name="os9"  #os9="ngModel"  required  class="form-control" placeholder="Email"></div>
          <br><br><br>
          <div *ngIf="os9.errors&&(os9.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os9.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10"><input type="text" [(ngModel)]="data.password"  pattern="([a-z]||[A-Z]||[0-9])*"    name="os10"  #os10="ngModel"  required  class="form-control" placeholder="Email"></div>
          <br><br><br>
          <div *ngIf="os10.errors&&(os10.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os10.errors.pattern">
              fill Correctly !!
            </div>
          </div>
        </div>

          <div align="center">
              <button type="submit" class="btn btn-primary"  [disabled]="!book.form.valid" (click)="addStudent()">Add student</button>
          </div>

        <!--<md-content ng-controller="AppCtrl as ctrl" layout-padding ng-cloak>-->
          <!--<div layout-gt-xs="row">-->
            <!--<div flex-gt-xs>-->
              <!--<h4>Standard date-picker</h4>-->
              <!--<md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>-->
            <!--</div>-->
          <!--</div>-->
        <!--</md-content>-->




    </fieldset>
  </form>
</div>

<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
