<ul class="nav nav-pills nav-stacked" style="width:200px ;margin-top:-10px">
  <li ><a [routerLink]="['ViewStudent']">View Student</a></li>
  <li ><a [routerLink]="['addStudent']">Add Student</a></li>
  <li ><a [routerLink]="['updStudent']">Update Student</a></li>
  <li ><a [routerLink]="['delStudent']">Delete Student</a></li>
</ul>
<router-outlet></router-outlet>
