<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm" >
    <fieldset>

      <legend>Update Course</legend>


      <div class="form-group">

        <div class="form-group"  *ngIf="!updateToggle">


          <label class="col-lg-2 control-label">courseName</label>
          <div class="col-lg-5"><select class="form-control" (change)="on($event)">
            <option *ngFor="let courses of course"  >{{courses.name}}</option></select></div>
          <br><br><br>

          <label class="col-lg-2 control-label" >Class</label>
          <div class="col-lg-5"><select class="form-control" (change)="on2($event)">
            <option *ngFor="let courses of course"  >{{courses.class}}</option></select></div>
          <br><br><br>

          <button type="submit" class="btn btn-primary" style="margin-left:600px;" [disabled]="!book.form.valid" (click)="getData()" >Get Data</button>

        </div>
         <div *ngIf="updateToggle">
        <label class="col-lg-2 control-label">courseName</label>
        <div class="col-lg-10"><input [(ngModel)]="data.name"  pattern="([a-z]||[A-Z]||\s)*"    name="os4"  #os4="ngModel"  required  type="text" class="form-control" placeholder="Name"></div>
           <br><br><br>
           <div *ngIf="os4.errors&&(os4.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

             <div [hidden]="!os4.errors.pattern">
               fill Correctly !!
             </div>
           </div>
        <label class="col-lg-2 control-label" >Class</label>
        <div class="col-lg-10"><input [(ngModel)]="data.class"  pattern="([0-9])*"    name="os5"  #os5="ngModel"  required  type="text" class="form-control" placeholder="class"></div>
           <br><br><br>
           <div *ngIf="os5.errors&&(os5.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

             <div [hidden]="!os5.errors.pattern">
               fill Correctly !!
             </div>
           </div>


        <label class="col-lg-2 control-label">Syllabus</label>
        <div class="col-lg-10"> <input [(ngModel)]="data.syllabus"  pattern="([a-z]||[A-Z]||\s)*"    name="os6"  #os6="ngModel"  required  type="text" class="form-control" placeholder="syllabus"></div>
           <br><br><br>
           <div *ngIf="os6.errors&&(os6.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

             <div [hidden]="!os6.errors.pattern">
               fill Correctly !!
             </div>
           </div>



        <div align="center" *ngIf="updateToggle">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="update()">Add Course</button>
        </div>

         </div>
      </div>




    </fieldset>
  </form>
</div>
<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
