<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-150px;margin-left:400px; " >

  <form class="form-horizontal"  #book="ngForm">
    <fieldset>

      <legend>View Student</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Student">Search Student</label>
        </div>
        <!--///////////////////////////////////-->




        <!--/////////////////////////////////////////////////-->
        <div class="col-lg-12"><select class="form-control" (change)="on($event)">
          <option *ngFor="let students of student"  >{{students.id}}</option></select></div>

        <br><br><br>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="show()">Search</button>
        </div>

      </div>



    </fieldset>
  </form>
</div>


<!--\\\\\\\\\\\\\\\bootstrap\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

<table class="table table-striped table-hover "   style="width: 800px; margin-left: 350px; margin-top: 75px;">



  <thead>
  <tr>
    <th>id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Contect</th>
    <th>Address</th>
    <th>E-Mail</th>
    <th>Gender</th>
    <th>sectionName</th>
    <th>CampusName</th>
    <th>CourseName</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let Datas of Data" class="info">
    <td>{{Datas.id}}</td>
    <td>{{Datas.firstName}}</td>
    <td>{{Datas.lastName}}</td>
    <td>{{Datas.age}}</td>
    <td>{{Datas.contact}}</td>
    <td>{{Datas.address}}</td>
    <td>{{Datas.email}}</td>
    <td>{{Datas.gender}}</td>
   <td>{{Datas.section.name}}</td>
    <td><{{Datas.section.campus.name}}</td>
    <td><select class="form-control"  (change)="on($event)">
      <option *ngFor="let course of Datas.section.courses">{{course.name}}</option></select></td>

  </tr>
  </tbody>
</table>

<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
