<ul class="nav nav-pills nav-stacked" style="width:200px ;margin-top:-10px">
  <li ><a *ngIf="veiw" [routerLink]="['viewAnnouncements']">View Announcements</a></li>
  <li ><a *ngIf="delete " [routerLink]="['addAnnouncements']">Add Announements</a></li>

</ul>
<router-outlet></router-outlet>
