<div style=" border-radius:5px; background-color: #afd9ee ;width:400px ; height: 300px;padding:10px ; margin-top:-200px;margin-left:200px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>Add Teacher in Course</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Campus">Search Course</label>
        </div>
        <label class="col-lg-2 control-label">Course</label>
        <div class="col-lg-10"><select class="form-control" (change)="on2($event)">
          <option *ngFor="let courses of course"  >{{courses.name}}</option></select></div>
        <br><br>
        <label class="col-lg-2 control-label">Class</label>
        <div class="col-lg-10"><input [(ngModel)]="data.class"  pattern="([0-9])*"    name="os3"  #os3="ngModel"  required  type="text" class="form-control" placeholder=" Class"></div>
        <br><br>
        <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:20px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os3.errors.pattern">
            fill Correctly !!
          </div>
        </div>
        <label class="col-lg-2 control-label">TeacherId</label>
        <div class="col-lg-10"><select class="form-control" (change)="on($event)">
          <option *ngFor="let teachers of teacher"  >{{teachers.id}}</option></select></div>
        <br><br>


      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="teacherCourse()">Add Teacher</button>
        </div>

      </div>



    </fieldset>
  </form>

  <div  style=" border-radius:5px;background-color: #afd9ee ;width:400px ;height: 300px; padding:10px ; margin-top:-250px;margin-left:500px; ">
    <form class="form-horizontal" #book2  ="ngForm">
      <fieldset>

        <legend>Delete Teacher in Course</legend>


        <div class="form-group">
          <div align="center">
            <label class="Sarch-Campus">Search Campus</label>
          </div>
          <label class="col-lg-2 control-label">Course</label>
          <div class="col-lg-10"><select class="form-control" (change)="on3($event)">
            <option *ngFor="let courses of course"  >{{courses.name}}</option></select></div>
          <br><br>
          <label class="col-lg-2 control-label">Class</label>
          <div class="col-lg-10"><input [(ngModel)]="classId"  pattern="([0-9])*"    name="os6"  #os6="ngModel"  required type="text" class="form-control" placeholder=" Class"></div>
          <br><br>
          <div *ngIf="os6.errors&&(os6.dirty)" style="margin-left:20px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os6.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">TeacherId</label>
          <div class="col-lg-10"><select class="form-control" (change)="on4($event)">
            <option *ngFor="let teachers of teacher"  >{{teachers.id}}</option></select></div>
          <br><br>

        </div>
        <div class="col-lg-10 col-lg-offset-1">
          <div align="center">
            <button type="submit" class="btn btn-primary" [disabled]="!book2.form.valid" (click)="delete()">Delete Teacher</button>
          </div>

        </div>



      </fieldset>
    </form>



  </div>

</div>
<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 50px; width:400px;margin-left: 500px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
