<div style="">
<ul class="nav nav-pills nav-stacked" style="width:200px ;  margin-top:-10px;">
  <li ><a *ngIf="veiw" [routerLink]="['viewExam']">Veiw Exam </a></li>
  <li ><a *ngIf="add" [routerLink]="['addExam']">Add Exam </a></li>
  <li ><a *ngIf="edit" [routerLink]="['updExam']">Update Exam</a></li>
  <li ><a *ngIf="delete" [routerLink]="['delExam']">Delete Exam</a></li>
</ul>


  <router-outlet></router-outlet>
</div>
