
<router-outlet></router-outlet>
<!--<app-login></app-login>-->
<!--&lt;!&ndash;========================================================-->
                          <!--HEADER-->
<!--=========================================================&ndash;&gt;-->

<!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->

    <!--</div>-->

    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li><a [routerLink]="['home']">Home</a></li>-->
        <!--<li><a [routerLink]="['login']">Login</a></li>-->

      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

<!--========================================================
                          CONTENT
=========================================================-->


<!--<router-outlet></router-outlet>-->

