<!--<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >-->

  <!--<form class="form-horizontal">-->
    <!--<fieldset>-->

      <!--<legend>Update Student</legend>-->


      <!--<div class="form-group">-->

        <!--<div class="form-group">-->


          <!--<label class="col-lg-2 control-label">Student ID</label>-->
          <!--<div class="col-lg-5"><input [(ngModel)]="studentId" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Student Id"></div>-->
          <!--<button type="submit" class="btn btn-primary" (click)="getData()" >Get Data</button>-->
          <!--<br>-->
          <!--<br>-->
          <!--<label class="col-lg-2 control-label">Student ID</label>-->
          <!--<div class="col-lg-5"><input [(ngModel)]="studentId" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Student Id"></div>-->
          <!--<br>-->
          <!--<br>-->
          <!--<label class="col-lg-2 control-label" >Section Name</label>-->
          <!--<div class="col-lg-5"><input [(ngModel)]="sectionName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Section Name"></div>-->
          <!--<br>-->
          <!--<br>-->
          <!--<label class="col-lg-2 control-label" >Class Name</label>-->
          <!--<div class="col-lg-5"><input [(ngModel)]="className" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Class ID"></div>-->
          <!--<br>-->
          <!--<br>-->
          <!--<label class="col-lg-2 control-label" >Campus ID</label>-->
          <!--<div class="col-lg-5"><input [(ngModel)]="campusId" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Campus Name"></div>-->




        <!--</div>-->
        <!--<div *ngIf="updateToggle">-->
          <!--<label class="col-lg-2 control-label">courseName</label>-->
          <!--<div class="col-lg-10"><input [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Name"></div>-->
          <!--<br>-->
          <!--<br>-->
          <!--<label class="col-lg-2 control-label" >Class</label>-->
          <!--<div class="col-lg-10"><input [(ngModel)]="data.class" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="class"></div>-->



          <!--<label class="col-lg-2 control-label">Syllabus</label>-->
          <!--<div class="col-lg-10"> <input [(ngModel)]="data.syllabus" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="syllabus"></div>-->




          <!--<div align="center">-->
            <!--<button type="submit" class="btn btn-primary" (click)="update()">Add Course</button>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->




    <!--</fieldset>-->
  <!--</form>-->
<!--</div>-->



<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>Update Student</legend>


      <div class="form-group">

        <div class="form-group" *ngIf="!updateToggle">


          <label class="col-lg-2 control-label">Student ID</label>
          <div class="col-lg-5"><select class="form-control" (change)="on($event)">
            <option *ngFor="let students of student"  >{{students.id}}</option></select></div>

          <button type="submit" class="btn btn-primary"  [disabled]="!book.form.valid" (click)="getData()" >Get Data</button>
          <br><br><br>



        </div>
        <div *ngIf="updateToggle">


          <label class="col-lg-2 control-label">Student ID</label>
          <div class="col-lg-5"><input [(ngModel)]="data.id" pattern="([0-9])*"    name="os3"  #os3="ngModel"  required type="text" class="form-control" placeholder="Student Id"></div>
          <br><br><br>
          <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os3.errors.pattern">
              fill Correctly !!
            </div>
          </div>

          <label class="col-lg-2 control-label">First Name</label>
          <div class="col-lg-5"><input [(ngModel)]="data.firstName" pattern="([a-z]||[A-Z]||\s)*"    name="os4"  #os4="ngModel"  required type="text" class="form-control" placeholder="First Name"></div>
          <br><br><br>
          <div *ngIf="os4.errors&&(os4.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os4.errors.pattern">
              fill Correctly !!
            </div>
          </div>

          <label class="col-lg-2 control-label">Last Name</label>
          <div class="col-lg-5"><input [(ngModel)]="data.lastName" pattern="([a-z]||[A-Z]||\s)*"    name="os5"  #os5="ngModel"  required type="text" class="form-control" placeholder="Last Name"></div>
          <br><br><br>
          <div *ngIf="os5.errors&&(os5.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os5.errors.pattern">
              fill Correctly !!
            </div>
          </div>

          <label class="col-lg-2 control-label">Age</label>
          <div class="col-lg-5"><input [(ngModel)]="data.age" pattern="([0-9])*"    name="os6"  #os6="ngModel"  required type="text" class="form-control" placeholder="Age"></div>
          <br><br><br>
          <div *ngIf="os6.errors&&(os6.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os6.errors.pattern">
              fill Correctly !!
            </div>
          </div>

          <label class="col-lg-2 control-label">Contact</label>
          <div class="col-lg-5"><input [(ngModel)]="data.contact" pattern="([0-9])*"    name="os7"  #os7="ngModel"  required type="text" class="form-control" placeholder="Contect"></div>
          <br><br><br>
          <div *ngIf="os7.errors&&(os7.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os7.errors.pattern">
              fill Correctly !!
            </div>
          </div>

          <label class="col-lg-2 control-label">E-Mail</label>
          <div class="col-lg-5"><input [(ngModel)]="data.email"   pattern="([a-z]||[A-Z]||[0-9])*@([a-z]||[A-Z]||[0-9])*.com" name="os8"  #os8="ngModel"  required type="text" class="form-control" placeholder="E-Mail Address"></div>
          <br><br><br>
          <div *ngIf="os8.errors&&(os8.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os8.errors.pattern">
              fill Correctly !!
            </div>
          </div>

          <label class="col-lg-2 control-label">Postal Address</label>
          <div class="col-lg-5"><input [(ngModel)]="data.address"  pattern="([a-z]||[A-Z]||\s)*"    name="os9"  #os9="ngModel"  required  type="text" class="form-control" placeholder="Postal Adress"></div>
          <br><br><br>
          <div *ngIf="os9.errors&&(os9.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os9.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label" >Section Name</label>
          <div class="col-lg-5"><select class="form-control" (change)="on2($event)">
            <option>{{temp1}}</option>
            <option *ngFor="let sections of section"  >{{sections.name}}</option></select></div>
          <br><br><br>

          <label class="col-lg-2 control-label" >Class </label>
          <div class="col-lg-5"><input [(ngModel)]="data.section.class" pattern="([0-9])*"    name="os11"  #os11="ngModel"  required type="text" class="form-control" placeholder="Class"></div>
          <br><br><br>
          <div *ngIf="os11.errors&&(os11.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os11.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label" >Campus ID</label>
          <div class="col-lg-5"><select class="form-control" (change)="on3($event)">
            <option>{{temp2}}</option>
            <option *ngFor="let campuses of campus"  >{{campuses.id}}</option></select></div>

          <br><br><br>

          <div align="center" *ngIf="updateToggle">
            <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="update()">Update Student</button>
          </div>

        </div>
      </div>




    </fieldset>
  </form>
</div>


<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close"   (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
