<!--<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >-->

<!--<form class="form-horizontal">-->
<!--<fieldset>-->




<!--<p>-->
<!--v-teacher works!-->
<!--</p>-->
<!--</fieldset>-->
<!--</form>-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->


<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:0px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>View Class</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Class">Search Class</label>
        </div>
        <label class="col-lg-2 control-label">CampusId</label>
        <div class="col-lg-12"><select class="form-control" (change)="on($event)">

          <option *ngFor="let campuses of campus"  >{{campuses.id}}</option></select></div>
        <br><br><br>
        <label class="col-lg-2 control-label">sectionName</label>
        <div class="col-lg-12"><select class="form-control" (change)="on2($event)">
          <option *ngFor="let sections of section"  >{{sections.name}}</option></select></div>
        <br><br><br>
        <label class="col-lg-2 control-label">Class</label>
        <div class="col-lg-12"><select class="form-control" (change)="on3($event)">

          <option *ngFor="let sections of section"  >{{sections.class}}</option></select></div>
        <br><br><br>

      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary"  [disabled]="!book.form.valid"  (click)="show()">Search</button>
        </div>

      </div>



    </fieldset>
  </form>
</div>


<!--\\\\\\\\\\\\\\\bootstrap\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

<div *ngIf="toggle" class="alert alert-dismissible alert-danger" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>


<table class="table table-striped table-hover "   style="width: 800px; margin-left: 350px; margin-top: 75px;">



  <thead>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Class</th>

    <th>class Teacher Name</th>
    <th>class Campus Name</th>
    <th>CourseOfSection</th>



  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let Data of Datas" class="info">
    <td>{{Data.id}}</td>
    <td>{{Data.name}}</td>
    <td>{{Data.class}}</td>
    <td>{{Data.teacher.firstName}}</td>
    <td>{{Data.campus.name}}</td>
    <td><select class="form-control"  (change)="on($event)">
      <option *ngFor="let course of Data.courses">{{course.name}}</option></select></td>
  </tr>
  </tbody>
</table>
