<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>Add Section</legend>


      <div class="form-group">
        <label class="col-lg-2 control-label">ClassId</label>
        <div class="col-lg-10"><select class="form-control" (change)="on3($event)">
          <option *ngFor="let sections of section"  >{{sections.class}}</option></select></div>
        <br><br>
        <label class="col-lg-2 control-label">CampusId</label>
        <div class="col-lg-10"><select class="form-control" (change)="on($event)">
          <option *ngFor="let campuses of campus"  >{{campuses.id}}</option></select></div>
        <br><br>
        <label class="col-lg-2 control-label">TeacherId</label>
        <div class="col-lg-10"><select class="form-control" (change)="on2($event)">
          <option *ngFor="let teachers of teacher"  >{{teachers.id}}</option></select></div>
        <br><br>

        <label class="col-lg-2 control-label">SectionName</label>
        <div class="col-lg-10"><select class="form-control" (change)="on4($event)">
          <option *ngFor="let sections of section"  >{{sections.name}}</option></select></div>
        <br><br>

      </div>
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid"  (click)="add()">Submit</button>
      </div>



    </fieldset>
  </form>
</div>
<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
