<div style=" border-radius:5px; background-color: #afd9ee ;width:400px ; height: 300px;padding:10px ; margin-top:-200px;margin-left:200px; " >

  <form class="form-horizontal"  #book="ngForm">
    <fieldset>

      <legend>Add Staff in Campus</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Campus">Search Campus</label>
        </div>
        <label class="col-lg-2 control-label">CampId</label>
        <div class="col-lg-10"><select class="form-control" (change)="on($event)">
          <option *ngFor="let campuses of campus"  >{{campuses.id}}</option></select></div>

        <br><br>
        <label class="col-lg-2 control-label">StaffId</label>
        <div class="col-lg-10"><select class="form-control" (change)="on2($event)">
          <option *ngFor="let staffs of staff"  >{{staffs.id}}</option></select></div>

        <br><br>


      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="add()">Add Staff</button>
        </div>

      </div>



    </fieldset>
  </form>

  <div  style=" border-radius:5px;background-color: #afd9ee ;width:400px ;height: 300px; padding:10px ; margin-top:-220px;margin-left:500px; ">
    <form class="form-horizontal"  #book2="ngForm">
      <fieldset>

        <legend>Delete Staff in Campus</legend>


        <div class="form-group">
          <div align="center">
            <label class="Sarch-Campus">Search Campus</label>
          </div>
          <label class="col-lg-2 control-label">CampusId</label>
          <div class="col-lg-10"><select class="form-control" (change)="on3($event)">
            <option *ngFor="let campuses of campus"  >{{campuses.id}}</option></select></div>
          <br><br>
          <label class="col-lg-2 control-label">StaffId</label>
          <div class="col-lg-10"><select class="form-control" (change)="on4($event)">
            <option *ngFor="let staffs of staff"  >{{staffs.id}}</option></select></div>
          <br><br>

        </div>
        <div class="col-lg-10 col-lg-offset-1">
          <div align="center">
            <button type="submit" class="btn btn-primary" [disabled]="!book2.form.valid" (click)="delete()">Delete Staff</button>
          </div>

        </div>



      </fieldset>
    </form>



  </div>

</div>

<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
