<ul class="nav nav-pills nav-stacked" style="width:200px ;margin-top:-10px">
  <li ><a  *ngIf="view" [routerLink]="['viewStaff']">View Staff</a></li>
  <li ><a *ngIf="add" [routerLink]="['addStaff']">Add Staff</a></li>
  <li ><a *ngIf="upd" [routerLink]="['updStaff']">Update Staff</a></li>
  <li ><a *ngIf="del" [routerLink]="['delStaff']">Delete Staff</a></li>
  <li ><a *ngIf="staffToCampus" [routerLink]="['staffToCampus']">Staff to Campus</a></li>


</ul>
<router-outlet></router-outlet>
