<div class="container" style="margin-top: -50px; margin-left: 200px">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <img src="../../../../../assetsMul/proTeacher.png" alt="" class="img-rounded img-responsive" />
          </div>
          <div class="col-sm-6 col-md-8">
            <h4>
              {{data.firstName+' '+data.lastName}}</h4>
            <small><cite title="S">Address : <i class="glyphicon glyphicon-map-marker">
            </i></cite></small><span> {{data.address}}</span>
            <p>
              <i class="glyphicon glyphicon-envelope" ></i>E-Mail : <span>{{this.data.email}}</span>
              <br />
              <i ></i>Contact : <span>{{data.contact}}</span>
              <br />
              <i ></i>Age : <span>{{data.age}}</span>
              <br />
              <i ></i>Course Name : <span><select style="width:50px; " class="form-control" >
      <option *ngFor="let course of data.courses">{{course.name}}</option></select></span>
              <br />
              <i ></i>Campus Name : <span><select style="width:200px; " class="form-control" >
      <option *ngFor="let campus of data.campuses">{{campus.name}}</option></select></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--###################################################################################################-->
<!--###################################################################################################-->

