<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:0px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>View Announcements</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Campus">Search Announcemtns</label>
        </div>

        <div class="col-lg-12"><select class="form-control" (change)="on($event)">
          <option *ngFor="let campuses of campus"  >{{campuses.id}}</option></select></div>

        <br><br><br>


      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary"  [disabled]="!book.form.valid"  (click)="show()">Search</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>


<!--\\\\\\\\\\\\\\\bootstrap\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

<div *ngIf="toggle" class="alert alert-dismissible alert-danger" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>


<table class="table table-striped table-hover "   style="width: 800px; margin-left: 350px; margin-top: 50px;">



  <thead>
  <tr>
    <th>Title</th>
    <th>Detail</th>
  </tr>

  </thead>

  <tbody>
  <tr *ngFor=" let datas of Data" class="info">

    <td>{{datas.title}}</td>
    <td>{{datas.detail}}</td>
  </tr>
  </tbody>
</table>
