<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>Add Exam</legend>


      <div class="form-group">
        <label class="col-lg-2 control-label">Date</label>
      <div> <select style=" float:left; margin-left:17px;width:60px;height:40px;" class="form-control"  (change)="on($event)">
          <option id="selectAccType">1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
          <option>21</option>
          <option>22</option>
          <option>23</option>
          <option>24</option>
          <option>25</option>
          <option>26</option>
          <option>27</option>
          <option>28</option>
          <option>29</option>
          <option>30</option>
          <option>31</option>
        </select>
        <select style="float: left; width:60px;height:40px;" class="form-control"  (change)="on2($event)">
          <option id="selectAccType2">1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>

        </select>
        <select style=" margin-left:180px;width:80px;height:40px;" class="form-control"  (change)="on3($event)">
          <option id="selectAccType3">2008</option>
          <option>2009</option>
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>

        </select>

        </div>
        <label class="col-lg-2 control-label">Section Id</label>
        <div class="col-lg-10"><select class="form-control" (change)="on4($event)">
          <option *ngFor="let sections of section"  >{{sections.id}}</option></select></div>
        <br><br>

         <label class="col-lg-2 control-label">Course Id</label>
        <div class="col-lg-10"><select class="form-control" (change)="on5($event)">
          <option *ngFor="let courses of course"  >{{courses.id}}</option></select></div>
        <br><br>

      </div>
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="add()">Submit</button>
      </div>



    </fieldset>
  </form>
</div>


<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
