<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal"  #book="ngForm">
    <fieldset>

      <legend>Delete Campus</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Campus">Delete Campus</label>
        </div>
        <label class="col-lg-2 control-label">CampId</label>
        <div class="col-lg-12"><select class="form-control" (change)="on($event)">
          <option *ngFor="let campuses of campus"  >{{campuses.id}}</option></select></div>
        <br><br>

      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary"  [disabled]="!book.form.valid" (click)="delete()">Delete Campus</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

      <br><br><br>
<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
