<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">


        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="[]">School Management</a>


    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

      <ul class="nav navbar-nav">

        <li><a *ngIf="admin" [routerLink]="['admin']">Admin</a></li>
        <li><a *ngIf="announcements" [routerLink]="['announcements']">Board</a></li>
        <li><a *ngIf="campus" [routerLink]="['campus']">Campus</a></li>
        <li><a *ngIf="teacher" [routerLink]="['teacher']">Teacher</a></li>
        <li><a *ngIf="course" [routerLink]="['course']">Course</a></li>
        <li><a *ngIf="staff" [routerLink]="['staff']">Staff</a></li>
        <li><a *ngIf="student" [routerLink]="['student']">Student</a></li>
        <li><a *ngIf="class" [routerLink]="['class']">Class</a></li>
        <li><a *ngIf="exam" [routerLink]="['exam']">Exams</a></li>
        <li><a *ngIf="result" [routerLink]="['result']">Result</a></li>
        <li><a *ngIf="fees" [routerLink]="['Fee']">Fee</a></li>
        <li><a *ngIf="profile" [routerLink]="['userProfile']">Profile</a></li>
      </ul>

      <!--<form class="navbar-form navbar-left" role="search">-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#">Link</a></li>-->
      <!--</ul>-->
      <!--</ul>-->
    </div>
  </div>
</nav>

<router-outlet ></router-outlet>




