<ul class="nav nav-pills nav-stacked" style="width:200px ;margin-top:-10px">
  <li ><a *ngIf="veiw" [routerLink]="['viewResult']">view Result</a></li>
  <li ><a *ngIf="add" [routerLink]="['addResult']">Add Result</a></li>
  <li ><a *ngIf="edit" [routerLink]="['updResult']">Update Result</a></li>
  <li ><a *ngIf="delete" [routerLink]="['delResult']">Delete Result</a></li>

</ul>
<router-outlet></router-outlet>
